<ion-header [translucent]="true">
  <ion-toolbar class="back" onload="presentLoading();">
    
      <ion-menu-button class="icon-color" slot="start" id="m1"></ion-menu-button>
      <ion-title class="bac"> <ion-img style="width:60%; height:60%;" src="assets/img/logo-dark.png" alt="Ionic logo"></ion-img></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-list *ngFor="let item of data">
    <ion-item>{{item.title}}&nbsp;
      <p> &nbsp;id:{{item.id}}</p>
      
    </ion-item>
  </ion-list> -->


  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
