<ion-header [translucent]="true">
  <ion-toolbar class="back3">
    
    <ion-menu-button class="icon-color" slot="start" id="m1"></ion-menu-button>
    <ion-title class="bac" > <ion-img style="width:60%; height:60%;" src="assets/img/logo-dark.png" alt="Ionic logo"></ion-img></ion-title>
    
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title size="large">{{user1.name}}</ion-title>
  <ion-avatar>
    <img src=""></ion-avatar>
    
    
  <!-- <ion-header collapse="condense"> -->
    <!-- <ion-toolbar>
      <ion-title size="large">{{user1}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button (click)="login()"></ion-button> -->

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
